<ion-content>
    <div class="list list-inset">
        <div class="item">
            Avez-vous laver vos mains?
        </div>
        <div class="item">
            Avez-vous manipule du sucre?
        </div>
        <div class="item">
            Avez-vous mis vos doigts dans le cul de quelqu'un?
        </div>
    </div>

    <a class="button button-outline icon-right ion-navicon button-balanced pull-right" style="float: right;margin-right: 10px;" ng-click="toHome()">Kwel</a>

</ion-content>
