<ion-content>
	<div>

		<div>
			<a ui-sref="profile"><img class="full-image " src="./img/status/statusOK.png"></a>
		</div>
		<div ng-repeat="result in results">
			<display-symptom display="{{result}}"
			                 symptom="{{cards[result]}}"
			                 ng-if="result == 'LHPositive'"
			                 ng-click="goTo('ovulation')"></display-symptom>

			<display-symptom display="{{result}}"
			                 symptom="{{cards[result]}}"
			                 ng-if="result != 'LHPositive' && result != 'leucocytesPositive'"></display-symptom>

			<display-symptom display="{{result}}"
			                 symptom="{{cards[result]}}"
			                 ng-if="result == 'leucocytesPositive'"
											 ng-click="goTo('questions')"></display-symptom>

		</div>
	</div>

</ion-content>
