@font-face {
  font-family: 'Source Sans Pro', "sans-serif";
}

body {
  font-family: 'Source Sans Pro', "sans-serif";
  background-color: #27ae60;
}

h1, h2, h3, h4, h5 {
  font-family: 'Source Sans Pro', "sans-serif";
}

.bar-color {
  background-color: #2ECC71;
  color: white;
}

.border-card {
  border-width: 10px;
}

.status-image {
  opacity: 0.6;
}

.pading-head-title {
  padding-top: 30px;
}

.small-padding-bottom {
  padding-bottom: 50px;
}

.item-header-color {
  /*  border-top-right-radius: 10px;
   border-top-left-radius: 10px;*/
  background-color: #F1C40F;
  padding-left: 20px;
  padding-top: 18px;
}

.item-header-color h2 {
  font-size: 1.8em;
}

.item-title-color {
  color: white;
}

.item-title-img-padding {
  float: right;
  top: -50px;
  position: relative;
  z-index: 10;
  width: 100px;
  right: 30px;
}

.item-body {
  h1 {
    margin-top: 10px;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
  }

  h2 {

    font-size: 21px;
    margin-bottom: 6px;
    margin-top: 40px;
    font-weight: bold;
  }

  p {
    font-size: 22px;
    line-height: 22px;
    margin-top: 6px;
  }

  ul {
    li {
      font-size: 21px;
    }
  }
}

.item-body-border {
  border-color: #1C8B6E;
  border-width: 5px;
}

.item-body-color {
  color: #1C8B6E;
}

.ovulation {
  width: 95%;
  display: block;
  margin: 20px auto auto;
}

button {
  display: block;
  padding: 30px;
  width: 300px;
  margin: auto;
  text-align: center;
  font-size: 26px;
  background-color: white;
  border: 3px solid #f39c12;
  border-radius: 20px;
}

.around-button {
  padding: 10px;
}

.button-link {
  text-decoration: none;
  color: #f39c12;
  margin-top: 20px;
  margin-bottom: 20px;
}