body {
  padding-top: 40px; }

.status-image {
  opacity: 0.6; }

.pading-head-title {
  padding-top: 30px; }

.small-padding-bottom {
  padding-bottom: 50px; }

.item-header-color {
  /*  border-top-right-radius: 10px;
   border-top-left-radius: 10px;*/
  background-color: #1C8B6E;
  padding-left: 20px;
  padding-top: 18px; }
  .item-header-color h2 {
    font-size: 1.8em; }

.item-title-color {
  color: white; }

.item-title-img-padding {
  float: right;
  top: -50px;
  position: relative;
  z-index: 10;
  width: 100px;
  right: 30px; }

.item-body-border {
  border-color: #1C8B6E;
  border-width: 5px; }

.item-body-color {
  color: #1C8B6E; }
